<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <title>Carpark App</title>
  </head>
  <body>
    <div class="content">
      <div>
        <p>Welcome to Carpark App</p>
        <p>Status: <span id="status">Offline</span></p>
        <div id="container"></div>
      </div>
    </div>
    <script src="/carpark.js"></script>
  </body>
</html>
